
<div class="container-fluid p-0 bg-body-tertiary">
    <footer class="pt-2">
      <div class="d-flex flex-column flex-sm-row justify-content-between py-2 border-top">
        <p class="m-0 mx-sm-4">&copy; <%= new Date().toString().split(' ')[3]%> ListMyTrip, Inc. All rights reserved.</p>
      </div>
    </footer>
  </div>
  